<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.www.test">
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 应用图标 ic_launcher -->
    <!-- 应用名称 app_name -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CodeActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".FixTabActivity"/>
    </application>
</manifest>
