<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.www.test">
    <!-- 应用图标 ic_launcher -->
    <!-- 应用名称 app_name -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.test.www.test.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <!-- 下面两句表示以  MainActivity 为主活动 （点击应用图标首先启动这个）-->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".LongRunningService" >
        </service>
        <receiver android:name=".AlarmReceiver" >
        </receiver>
    </application>

</manifest>
