<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jam00.www">

    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 定位需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 运行时权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 友盟推送权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--读取相册和拍照的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 应用图标 ic_launcher -->
    <!-- 应用名称 app_name -->
    <application
        android:name=".util.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 添加百度sdk key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3Xv1UpHz9tIL7Mo5BnGOUx8VedSMgwXC" />
        <!-- 设置友盟推送的  APPKEY 和 SECRET -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58637a57734be467d70013a4"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="203476d2f668f73d138036c32dc9522c"></meta-data>
        <!-- 用Channel ID来标识App的推广渠道，作为推送消息时给用户分组的一个维度（可选） -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="jam00"></meta-data>
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  全屏显示 -->
        <activity
            android:name=".activity.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <!-- 下面两句表示以  MainActivity 为主活动 （点击应用图标首先启动这个） -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity">

        </activity>
        <activity android:name=".activity.NavBaseActivity"></activity>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.RecordActivity"></activity>
        <activity android:name=".activity.ChooseAreaActivity" />
        <activity android:name=".activity.WeatherActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.AddImageActivity"/>

        <service
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <!-- 添加百度sdk中的服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>